[submodule "cpp"]
	path = cpp
	url = https://github.com/ellinx/LC-cpp
[submodule "python"]
	path = python
	url = https://github.com/ellinx/LC-python
[submodule "java"]
	path = java
	url = https://github.com/ellinx/LC-java
